.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    color: blue;
  }
  *{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration-color: red;
    align-items: left;
}
body{
    background-image: radial-gradient( circle farthest-corner at 20% 30%,  rgba(37, 251, 90, 0.98) 0.1%, rgb(62, 128, 0) 99.8% );;
}
.hero{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0%;
    padding-right: 10%;
}
  .logo {
    color: ghostwhite;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    fill-opacity: initial;
  }
  span{
    color: ghostwhite;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 30px 39px 40px left;
}
nav ul li a{
color: white;
text-decoration: double;
font-weight: bold;
}
a:hover {
    background-color: blue;
  }
my identity{
position: absolute;
top: 40px;
left: 9%;
transform:translate y (-50%) ;
}

h4{
    color: orangered;
    font-size: 20px;
    margin: 20px 0px 20px;
}
h5{
    color: blue;
    font-size: 80px;
    margin-bottom: 50px;
}
h6{
    letter-spacing: 2px;
    font-size: 14px;
    color: goldenrod;
    text-align: left;
    text-indent: 0cm;
}
.skills{
    width: 100%;
    padding: 100px 20px;
}
.title h2{
    color:red;
    font-size: 75px;
    width: 113px;
    margin: 30px auto;
    text-align: center;
}